.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    margin-top: 15px;
}
.post__body{
    width: 100%;
}

.post__headerDescription{
    margin-bottom: 10px;
    font-size: 15px;
}

.post__headerText > h3{
    font-size: 16px;
    margin-bottom: 5px;
}

.post__body > img{
    border-radius: 20px;
    width: 100%
}

.post__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__badge{
    font-size: 14px !important;
    color: var(--twitter--color)
}

.post__avatar{
    padding: 8px 10px;
}